*.xcodeproj/
.spawn.log
DerivedData/
build/
probes/Uniscript_Uniscript.bundle
probes/app_icon
probes/contents_dismissal
probes/fold_sections
probes/fonts/cascade_timing
probes/fonts/covering_fonts
probes/ids_spacing
probes/line_breaks
probes/render_cli
probes/scroll
probes/sequence_shaping
probes/startup_timing
probes/table_of_contents
probes/uniscript/groups.html
probes/window_id
probes/zoom_keys
probes/glyph_fonts
